.problem {
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--color-orange-700);
}

.problem svg {
    color: var(--color-orange-700);
}

.hidden {
    display: none;
}

.container {
    color: var(--color-neutral-0);
    width: 100%;
    gap: 0 !important;
    align-items: center;
    padding: 2rem;
    overflow: hidden;
    z-index: 2;
    position: relative;
}
.head-icon{
    margin-bottom: 2.5rem;
}
.title {
    max-width: 65rem;
    text-align: center;
}

.main-title {
    font-size: 4.5rem;
}

.paragraph {
    text-align: center;
    padding-top: 2rem;
    max-width: 42rem;
    padding-bottom: 3rem;
    color: var(--color-neutral-300);
}

.uplod {
    padding-bottom: 3rem;
}

.uplod div {
    background-color: var(--color-flow);
    align-items: center;
    border-radius: .8rem;
    gap: 2rem !important;
    padding: 1.5rem;
    border: solid .2rem var(--color-neutral-500);
    border-style: dashed;
}

.uplod div svg {
    border: solid 0.01rem rgba(168, 168, 168, 0.174);
    background-color: var(--color-flow);
    width: 5rem;
    height: 5rem;
    padding: 1rem;
    border-radius: 1rem;
}

.uplod div p {
    color: var(--color-neutral-300);
}

.uploed-paragraph {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem !important;
    color: var(--color-neutral-300);
}

#form-label {
    font-size: 2rem;
}

.form-box p label input {
    width: 40rem;
    font-family: "Inconsolata", serif;
    padding: 1.8rem 1rem;
    font-size: 1.8rem;
    color: var(--color-neutral-0);
    outline: none;
    border-radius: 1rem;
    background-color: var(--color-flow);
    border: solid .1rem var(--color-neutral-500);
    transition: .2s;
}
.form-box p label input:hover{
    background-color: hsla(252, 6%, 83%, 0.208);
}
.form-box p label input::placeholder {
    color: var(--color-neutral-0);
    font-weight: 300;
    opacity: .9;
}

.form-box .btn-submit {
    width: 100%;
    padding: 1.6rem 0;
    border-radius: 1rem;
    border: solid .1rem var(--color-neutral-500);
    background-color: var(--color-orange-500);
    font-family: "Inconsolata", serif;
    font-weight: 800;
    color: var(--color-neutral-900);
    transition: .4s;
}

.form-box .btn-submit:hover {
    background-color: var(--color-orange-700);
}

/* CARD */
.secondary-card {
    margin-top: 6rem;
}

.card {
    position: relative;
    display: flex;
    align-items: center;
    padding: 2rem;
    gap: 6rem;
}

.card-background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45rem;
}

.about-section {
    justify-content: center;
    gap: 4.5rem !important;
}

.code {
    font-size: 2rem;
    color: var(--color-neutral-500);
}

.codebar {
    writing-mode: vertical-lr;
    padding-left: 5rem;
}

.hero-title {
    font-size: 2.5rem;
    display: flex;
    align-items: start;
    gap: 1rem;
    color: var(--color-neutral-0);
}

.hero-title span {
    gap: .8rem !important;
}

.date-info-card {
    font-size: 1.2rem;
    color: var(--color-neutral-300);
}

.profil-name {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.user-name {
    font-size: 1.8rem;
    font-weight: 400;
}

.name-github {
    gap: 1.2rem !important;
}

.github-user-name {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    gap: .5rem;
    color: var(--color-neutral-300);
}

.avatar {
    border-radius: .8rem;
}

.red-border {
    border: solid .1rem var(--color-orange-700) !important;
}

.user-mail {
    color: var(--color-orange-500);
}

.poeplename {
    text-align: center;
    background: linear-gradient(hsl(7, 86%, 67%), hsl(0, 0%, 100%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width:500px) {
    p {
        font-size: 1.6rem;
    }

    .form-box p label input {
        width: 90vw;
    }
    .uplod {

        width: 90vw;
    }

    .card {
        gap: 1rem;

    }

    .card-background {
        width: 95vw;

    }

    .content {

        height: 50vh;
    }

    .hero-title {
        font-size: 2rem;
    }

    .hero-title svg {
        width: 3rem;
    }

    .date-info-card {
        color: var(--color-neutral-300);
    }

    .avatar {
        width: 5rem;
    }

    .about-section {
        height: 20vh;
    }
}
 